.masteryCalculator {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
  min-width: fit-content;
  max-width: 1000px;
  margin: auto;
  padding: var(--spacing-md) var(--spacing-sm) var(--spacing-xl);
  background: url("../../assets/talent-calc-bg.png");
  border: 1px solid var(--color-gray-light-transparent);
  color: var(--text-color-base);
}

.title {
  margin: 0;
  padding: var(--spacing-xs);
  font-size: var(--font-size-lg);
  font-weight: 400;
  text-align: center;
  background-color: var(--color-gray-light-transparent);
}

.content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-lg);
  min-width: 320px;
}

.paths {
  flex: 1 0 320px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}
