.talentButton {
  --regular-frame-base-color: #4d4d4d;
  --regular-frame-highlight-color: #3a3a3a;

  --selected-frame-base-color: #6ca2db;
  --selected-frame-highlight-color: #394f79;

  padding: 2px;
  border: 1px solid var(--color-gray-medium);

  background: linear-gradient(
    var(--regular-frame-base-color),
    var(--regular-frame-base-color) 50%,
    var(--regular-frame-highlight-color) 50%,
    var(--regular-frame-base-color)
  );

  cursor: pointer;

  &[aria-checked="true"] {
    position: relative;

    background: linear-gradient(
      var(--selected-frame-base-color),
      var(--selected-frame-base-color) 50%,
      var(--selected-frame-highlight-color) 50%,
      var(--selected-frame-base-color)
    );

    border: 1px solid #4b88c9;

    box-shadow: 0 0 10px 5px var(--color-gray-medium);

    .icon {
      border: 1px solid #2a69ad;
      background-position-y: 0;
    }
  }

  &:focus {
    position: relative;
  }

  &[aria-disabled="true"] {
    cursor: inherit;
  }

  @media (hover: hover) and (pointer: fine) {
    &[aria-disabled="false"]:hover .icon {
      background-position-y: 0;
    }
  }
}

.icon {
  height: 52px;
  width: 52px;

  border: 1px solid var(--color-gray-medium);

  background: url("../../assets/talent-icons-sprite.png") lightgray;
  background-position-y: calc(-1 * var(--sprite-size));
}
